@page "/editinventory/{Id:int}"
<h3>Edit Inventory</h3>
@inject IViewInventoryByIdUseCase ViewInventoryByIdUseCase
@inject IEditInventoryUseCase EditInventoryUseCase
@inject NavigationManager NavigationManager
@rendermode RenderMode.InteractiveServer

@if(inventory != null)
{
    <EditForm Model="@inventory" method="post" OnSubmit="OnSubmit" FormName="inventory">
        <div class="form-group">
            <label for="name">Inventory Name</label>
            <InputText id="name" @bind-Value="inventory.InventoryName" class="form-control"></InputText>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}
@code {
    private Inventory.CoreBusiness.Inventory inventory;

    [Parameter]
    [SupplyParameterFromQuery]
    public int Id{ get; set; }


    protected override async Task OnInitializedAsync()
    {
        // base.OnInitialized();
        this.inventory = await ViewInventoryByIdUseCase.ExecuteAsync(Id);
    }

    public async Task OnSubmit()
    {
        if (this.inventory != null)
        {
            await EditInventoryUseCase.ExecuteAsync(this.inventory);
            NavigationManager.NavigateTo("/inventory");
        }

    }
    }