@page "/inventory"
@rendermode InteractiveServer
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
@inject NavigationManager NavigationManager
<h3>InventoryList</h3>
<br/>
<ViewInventory OnSearchInventories="OnSearchInventories"></ViewInventory>
@if (inventories != null && inventories.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in this.inventories){
                <tr>
                    <td>@x.InventoryId</td>
                    <td>@x.InventoryName</td>
                    <td> 
                         <button type="button" class="btn btn-light" @onclick="@(()=>EditInventory(x.InventoryId))">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br/>
<button type="button" class="btn-primary" @onclick="AddInventory">Add</button>
@code {
    private List<Inventory.CoreBusiness.Inventory> inventories;

    protected override async Task OnInitializedAsync()
    {

        var invs = await ViewInventoriesByNameUseCase.ExecuteAsync();
        this.inventories = invs.ToList();

    }
    private void OnSearchInventories(List<Inventory.CoreBusiness.Inventory> inventories)
    {
        this.inventories = inventories;
    }
    private void AddInventory(){
        NavigationManager.NavigateTo("/addinventory");
    }

    private void EditInventory(int Id)
    {
        NavigationManager.NavigateTo($"/editinventory/{Id}");
    }
    // private void EditInventory()
    // {
    //     NavigationManager.NavigateTo($"/editinventory/{Id}");
    // }
}

